.sidebar-section{
  display: flex;
  background-color: black;
}
.sidebar{
  height: 100vh;
  /* background-color: #358335; */
  background-image: linear-gradient(to bottom right, #00C0FF, #4218B8); 
  background-image: linear-gradient(to bottom right, #38A2D7, #561139);
  background-image: linear-gradient(to bottom right, #6df86d, #1FC5A8);
  width: 90px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: fixed;
}
.toggle-sidebar{
  width: 210px;
}
.sidebar-toggle-icon{
  display: flex;
  justify-content: right;
  align-items: right;
  cursor: pointer;
}
.sidebar-toggle-icon p svg{
  background-color:transparent;
  box-shadow: rgba(34, 34, 131, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: black;
  margin-top: 25px;
}
.sidebar-toggle-icon p svg:hover{
  color: white;
}
