.navbar-profile-pic img{
  border-radius: 80px;
  width: 145px;
  background-color: rgb(251, 255, 1);
  /* background-color: rgb(226, 226, 226); */
  background-image:  linear-gradient(rgba(239, 232, 232, 0.02),rgb(215, 214, 214));
  height: 145px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 0px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav-item{
  color: black;
  margin-top: 30px;
  margin-left: 25px;
  font-weight: 500;
}
.nav-link{
  margin-top: 20px;
  cursor: pointer;
}
.nav-link svg{
  margin-right: 10px;
}

.nav-link:hover{
  color: white;
}