.navbar-profile-pic img{
  border-radius: 90px;
  width: 150px;
  height: 150px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.nav-item{
  color: white;
  margin-top: 30px;
  margin-left: 25px;
}
.nav-link{
  margin-top: 20px;
  cursor: pointer;
}
.nav-link svg{
  margin-right: 10px;
  
}
.nav-link:hover{
  color:rgb(145, 255, 0);
}