.home-container{
  height: 300px;
  color: white;  
}
.home-content h2{
  padding: 5px;
  padding-top: 70px;
  margin-left: 150px;
}
.home-content h1{
  padding: 5px;
  margin-left: 150px;
  color: #ffff00;
}
.home-buttons{
  margin-left: 150px;
  margin-top: 20px;
}
.home-buttons .btn-hire{
  background-color: #0fdc87;
  color: black;
  width: 160px;
}
.home-buttons .btn-cv{
  background-color: black;
  border: 2px solid white;
  color: #0fdc87;
  width: 160px;
  margin-left: 15px;
}
.home-buttons .btn-cv:hover,.home-buttons .btn-hire:hover{
  opacity:0.5;
  transition: 0.2s;
}
.theme-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: rgb(74, 7, 129);
  margin-top: 20px;
  text-align: center;
  position: fixed;
  cursor: pointer;
  z-index: 1;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}